.app {
  width: 100vw;
  height: 100vh;
}

.tree-designer-screen {
  overflow: hidden;
}

.forest-designer-screen {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}